mat-radio-button,
mat-checkbox {
  display: block;

  &.mat-radio-button {
    display: block;
    margin-bottom: 10px;
  }

  &.radio-inline,
  &.checkbox-inline {
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }
  }

  .mat-radio-label,
  .mat-checkbox-label {
    color: $grey8;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    padding-left: 0;
    text-align: left;
  }

  .mat-radio-inner-circle,
  .mat-radio-outer-circle,
  .mat-radio-container,
  .mat-checkbox-inner-container {
    height: $checkbox-radio-size;
    width: $checkbox-radio-size;
  }

  .mat-radio-outer-circle {
    border-width: 1px;
  }

  .mat-radio-frame,
  .mat-radio-background,
  .mat-checkbox-frame,
  .mat-checkbox-background {
    border-radius: 4px;
    border-width: 1px;
  }

  &.mat-radio-indeterminate,
  &.mat-radio-checked,
  &.mat-checkbox-indeterminate,
  &.mat-checkbox-checked {
    &.mat-accent {
      .mat-radio-inner-circle,
      .mat-checkbox-background {
        background-color: $form-checkbox-radio-color;
      }

      .mat-radio-outer-circle {
        border-color: $form-checkbox-radio-color !important;
      }
    }
  }

  &.mat-radio-disabled,
  &.mat-checkbox-disabled {
    &.mat-radio-checked,
    &.mat-checkbox-checked {
      &.mat-accent {
        .mat-radio-outer-circle,
        .mat-radio-inner-circle,
        .mat-checkbox-background {
          background-color: $grey4;
        }

        .mat-radio-outer-circle {
          border-color: $grey4 !important;
        }
      }
    }

    .mat-radio-frame,
    .mat-checkbox-frame {
      border-color: $grey4;
    }
  }
}

.cdk-overlay-pane {
  .mat-autocomplete-panel {
    top: 10px;

    &.mat-autocomplete-visible {
      border-radius: $form-input-broder-radius;
    }
  }

  .mat-option {
    color: $grey;
    font-size: $font-size-sm;
    font-family: 'Open Sans';
    letter-spacing: $letter-spacing-sm;

    &:hover,
    &:focus {
      &:not(.mat-option-disabled) {
        background-color: $purple;
         font-family: 'Open Sans';
        color: $white;
      }
    }
  }

  @media only screen and (max-width: $top-navbar-breakpoint) {
    margin: auto;
    max-width: 370px;
    padding-top: 20px;
    position: static;
  }
}

mat-button-toggle-group {
  &.mat-button-toggle-group,
  &.mat-button-toggle-standalone {
    box-shadow: none;
    width: 100%;
    border: none;
  }

  &.mat-button-toggle-vertical {
    mat-button-toggle {
      border: solid 1px $form-label-color;

      &:not(:last-child) {
        margin-bottom: $separation;
      }
    }
  }
}

mat-button-toggle {
  &,
  &.mat-button-toggle-group,
  &.mat-button-toggle-standalone {
    border: solid 1px $form-label-color;
    border-radius: 4px;
    box-shadow: none;
    color: $form-label-color;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.8px;
    width: 100%;
  }

  &.mat-button-toggle-checked {
    background-color: $form-tag-color;
    border-color: $form-tag-color;

    .mat-button-toggle-label-content {
      color: $white;
    }
  }

  .mat-button-toggle-label,
  .mat-button-toggle-label-content {
    font-weight: normal;
    width: 100%;
  }
}

mat-slider {
  padding: 0;
  width: 100%;

  .mat-slider-track-background {
    background-color: $grey4;
  }

  &.mat-accent {
    .mat-slider-track-fill {
      background-color: $form-slider-color;
    }

    .mat-slider-thumb,
    .mat-slider-thumb-label {
      background-color: $white;
      border-color: $form-slider-color;
      border-width: 1px;
    }
  }

  &.mat-slider-horizontal {
    .mat-slider-wrapper {
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

mat-form-field {
  width: 100%;

  .mat-form-field-infix {
    border-top: 0;
    padding-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 6px;
  }

  .mat-form-field-underline {
    bottom: 0;
  }
}

mat-slide-toggle {
  &.mat-override {
    position: relative;

    .mat-slide-toggle-content {
      color: $white;
      font-size: $font-size-xxs;
      letter-spacing: $letter-spacing-xs;
      position: absolute;
      right: 0;
      text-align: center;
      width: 28px;

      .fa {
        font-size: 15px;
        vertical-align: middle;
      }
    }

    .mat-slide-toggle-label-on  {
      display: none;
    }

    .mat-slide-toggle-bar {
      border-radius: 100px;
      height: 26px;
      margin-right: 0;
      width: 54px;
    }

    .mat-slide-toggle-thumb-container {
      left: 2px;
      top: 1px;

      .mat-slide-toggle-thumb {
        height: 24px;
        width: 24px;
      }
    }

    &.mat-slide-toggle {
      &.mat-checked {
        .mat-slide-toggle-content {
          left: 0;
        }

        .mat-slide-toggle-label-off {
          display: none;
        }

        .mat-slide-toggle-label-on {
          display: block;
        }

        .mat-slide-toggle-thumb-container {
          transform: translate3d(26px, 0, 0);
        }

        .mat-slide-toggle-thumb {
          background-color: $white;
        }

        .mat-slide-toggle-bar {
          background-color: $purple;
        }
      }
    }
  }
}

mat-progress-bar {
  &.mat-progress-bar-big {
    padding: 13px 0;
  }

  &.mat-progress-bar-round {
    border-radius: 11px;
    height: 6px;

    .mat-progress-bar-buffer {
      background-color: $grey3;
    }

    .mat-progress-bar-fill {
      &::after {
        border-radius: 11px;
      }
    }

    &.color {
      .mat-progress-bar-fill {
        &::after {
          animation: none;
          content: '';
          display: inline-block;
          left: 0;
        }
      }

      &.color-red {
        .mat-progress-bar-fill {
          &::after {
            background-color: $red;
          }
        }
      }

      &.color-yellow {
        .mat-progress-bar-fill {
          &::after {
            background-color: $yellow;
          }
        }
      }

      &.color-green {
        .mat-progress-bar-fill {
          &::after {
            background-color: $green;
          }
        }
      }

      &.color-aqua {
        .mat-progress-bar-fill {
          &::after {
            background-color: $aqua;
          }
        }
      }
    }
  }
}

mat-tab-group {
  &.mat-tab-group {
    &.mat-primary {

      .mat-tab-nav-bar,
      .mat-tab-header {
        border-bottom: 0;
      }

      .mat-tab-labels {
        background-color: rgba(144, 19, 254, .09);

        .mat-tab-label {
          color: $purple;
          flex-basis: 100%;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1.5px;
          opacity: 1;

          &:focus,
          &.mat-tab-label-active {
            background-color: $purple;
            color: $white;
          }
        }
      }

      .mat-ink-bar {
        display: none;
      }
    }
  }
}

.mat-form-field {
  width: 100%;
  overflow: scroll;

  .mat-chip-list {
    .mat-chip-list-wrapper {
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
      margin: 0px;

      .mat-chip {
        border: 1px solid $purple;
        border-radius: 4px;
        box-shadow: none;
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-sm;
        // margin-left: 0 !important;
        // margin-right: 8px !important;
        // padding: 4px 7px;

        &.filled {
          background-color: $purple;
          color: $white;

          .fa {
            color: $white;
          }
        }

        &.regular {
          background-color: transparent;
          color: $purple;

          .fa {
            color: $purple;
          }
        }

        .fa {
          opacity: 1;
        }
      }

      .mat-chip-input {
        // flex-basis: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }
}
