@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');

@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'md-override';
@import 'tables';
@import 'forms';
@import 'menu';

body {
  background-color: $body-bg-color;
  font-family: 'Open Sans', sans-serif;
}

.main-navbar-container {
  align-items: center;
  background-color: #6F6386;
  box-shadow: $shadow-container;
  display: flex;
  position: fixed;
}

.main-content-container {

  padding-top: 60px;

  .mat-sidenav-container {

    .mat-drawer.mat-drawer-push {
      background-color: transparent;
    }
  }

  // mat-sidenav-content {
  //   margin-left: 275px;
  // }

  .main-content-outer {
    // Because we already have 15px from the condense menu toggle
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    @media only screen and (max-width: $screen-xs-max) {
      padding-right: 15px;
    }
  }
}


// Other stuff

.mat-sidenav-container {
  background-color: transparent;
}

.card {
  background-color: $card-bg-color;
  border-radius: 5px;
  box-shadow: $shadow;
  color: $card-txt-color;
  margin-bottom: 20px;
  padding: 20px;

  &.card-no-padding {
    padding: 0;
  }

  .title {
    margin-bottom: 20px;

    .main-title {
      font-size: $font-size-lg;
      font-weight: 300;
      letter-spacing: $letter-spacing-lg;
      margin: 0;
      text-align: left;
    }

    .sub-title {
      color: $grey;
      display: block;
      font-size: $font-size-sm;
      letter-spacing: $letter-spacing-sm;
      margin-top: 7px;
    }

    .line {
      border-color: $grey4;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
}

.color-red {
  color: $red;
}

.color-green {
  color: $green2;
}

.color-aqua {
  color: $aqua;
}

.color-orange {
  color: $orange2;
}


.actions {
  padding: 20px 0;
}

.actions.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .actions.flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .actions.flex>a:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .actions.flex>a:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px;
  }
}


.btn {
  font-size: 14px;
  text-transform: uppercase;
  min-width: 180px;
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.btn.btn-primary {
  background-color: #9E3667;
  color: #fff;
  border: 0px;
}

.btn.btn-primary:hover {
  background-color: #9E3667;
  text-decoration: none;
  border: 1
}

.btn.btn-ico>* {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.btn-icon i {
  font-size: 24px;
  line-height: 100%;
}

.btn.btn-clear {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  min-width: inherit;
  color: #444;
}

.btn.btn-clear:hover {
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn-icon i {
    font-size: 18px;
  }

  .btn.btn-primary {
    margin-top: 4px;
  }

  .btn.btn-secundary {
    margin-top: 4px;
  }
}

.btn-icon:hover {
  text-decoration: none;
}