@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,500i,700,700i,900,900i');

@import 'font-awesome';
@import 'material';
@import 'bootstrap';

@font-face {
  font-family: 'iconos-santander';
  src:  url('/assets/fonts/iconos-santander.eot?ysz3gt');
  src:  url('/assets/fonts/iconos-santander.eot?ysz3gt#iefix') format('embedded-opentype'),
    url('/assets/fonts/iconos-santander.ttf?ysz3gt') format('truetype'),
    url('/assets/fonts/iconos-santander.woff?ysz3gt') format('woff'),
    url('/assets/fonts/iconos-santander.svg?ysz3gt#iconos-santander') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  html, body {
    height: 100%;
    overflow-y:hidden;overflow-x:hidden; 
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  




  [class^="str-icon-"], [class*=" str-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconos-santander' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    

 
    .str-icon-beneficios:before {
    content: "\e99a";
    }
    .str-icon-santander-logo:before {
    content: "\e9a3";
    }
    .str-icon-preguntas:before {
    content: "\ea1c";
    }
    .str-icon-prensa:before {
    content: "\ea28";
    }
    .str-icon-cliente:before {
    content: "\ea2e";
    }
    .str-icon-arrow-right:before {
    content: "\ea39";
    }
    .str-icon-arrow-left:before {
    content: "\ea3a";
    }
    .str-icon-arrow-down:before {
    content: "\ea3b";
    }
    .str-icon-arrow-up:before {
    content: "\ea3c";
    }
    .str-icon-fono:before {
    content: "\ea3d";
    }
    .str-icon-chat:before {
    content: "\ea89";
    }

.form-label {
  font-family: 'Open Sans', sans-serif;
}

.actions {
    padding: 20px 0;
  }
  
  .actions.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .actions.flex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .actions.flex>a:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .actions.flex>a:last-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }
  }
  
  .main-title{
    font-family: 'Open Sans Semi Bold';
  }
  .sub-title{
    font-family: 'Open Sans Light';
  }
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }
  
  .btn.btn-primary {
    background-color: #9E3667;
    color: #fff;
    border: 0px;
  }
  
  .btn.btn-primary:hover {
    background-color: #9E3667;
    text-decoration: none;
    border: 1
  }
  
  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }
  
  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }
  
  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .btn-icon i {
        font-size: 18px;
    }
    .btn.btn-primary {
      margin-top: 4px;
    }
    .btn.btn-secundary {
      margin-top: 4px;
    }
  }
  
  .btn-icon:hover {
    text-decoration: none;
  }
  
  @font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts2/icomoon.eot?55mmua');
    src:  url('/assets/fonts2/icomoon.eot?55mmua#iefix') format('embedded-opentype'),
      url('/assets/fonts2/icomoon.ttf?55mmua') format('truetype'),
      url('/assets/fonts2/icomoon.woff?55mmua') format('woff'),
      url('/assets/fonts2/icomoon.svg?55mmua#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Analisis-de-datos:before {
    content: "\e701";
  }
  .icon-Agregar-Documento:before {
    content: "\e702";
  }
  .icon-Cerrar-sesion:before {
    content: "\e703";
  }
  .icon-Documento:before {
    content: "\e686";
  }
  .icon-Ejectuivo:before {
    content: "\e684";
  }
  .icon-Home:before {
    content: "\e685";
  }
  .icon-icon:before {
    content: "\e505";
  }
  .icon-Iso-Santander:before {
    content: "\e504";
  }
  .icon-Mas:before {
    content: "\e503";
  }

  .icon-FUNC062:before {
    content: "\e443";
  }
  

