mat-sidenav-container.mat-sidenav-container,
mat-sidenav.main-sidenav {
  height: calc(100vh - 60px);
}

mat-sidenav-container.mat-sidenav-container {
  width: 100%;
}

mat-sidenav.main-sidenav {
  width: initial;
  min-width: initial;
  background: transparent;
  padding: 0px;
  //padding-right: 15px;
  border: none;
}



.actions {
  padding: 20px 0;
}

.actions.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .actions.flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .actions.flex>a:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .actions.flex>a:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px;
  }
}


.btn {
  font-size: 14px;
  text-transform: uppercase;
  min-width: 180px;
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.btn.btn-primary {
  background-color: #9E3667;
  color: #fff;
  border: 0px;
}

.btn.btn-primary:hover {
  background-color: #9E3667;
  text-decoration: none;
  border: 1
}

.btn.btn-ico>* {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.btn-icon i {
  font-size: 24px;
  line-height: 100%;
}

.btn.btn-clear {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  min-width: inherit;
  color: #444;
}

.btn.btn-clear:hover {
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn-icon i {
    font-size: 18px;
  }

  .btn.btn-primary {
    margin-top: 4px;
  }

  .btn.btn-secundary {
    margin-top: 4px;
  }
}

.btn-icon:hover {
  text-decoration: none;
}