<div id="ListUSer" class="row">
  <div class="col-lg-12">
    <div *ngIf="visualTable"  class="card">
     
      <header class="row title">
        <div class="col-lg-12">
          <h2 class="main-title">Consulta de Usuarios</h2>
          <span class="sub-title">Lista de Usuarios del aplicativo</span>
        </div>
      </header>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>




      <div class="table-wrapper" *ngIf="visualTable">
        <table class="table table-stripes" mat-table matSort [dataSource]="dataSourceTable2" MatSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="rut">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>RUT</th>
            <td mat-cell *matCellDef="let row"> {{row.rut}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="profile">
            <th  md-column mat-header-cell *matHeaderCellDef mat-sort-header>PERFIL</th>
            <td mat-cell *matCellDef="let row"> {{row.profile}} </td>
          </ng-container>
          <ng-container matColumnDef="rol">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>ROL</th>
            <td mat-cell *matCellDef="let row"> {{row.rol}} </td>
          </ng-container>
          <ng-container matColumnDef="celula">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>CELULA</th>
            <td mat-cell *matCellDef="let row"> {{row.celula}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="card" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLinkActive]="['active']"
            [routerLink]="['/tables/consultuser', row.rut]"></tr>

        </table>
        <mat-paginator #paginatorTable2 class="paginator" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5">
        </mat-paginator>
      </div>
    </div>
    <!-- <div>
    <input class="btn btn-form" style="margin-right: 10px;" [routerLinkActive]="['active']"
      [routerLink]="['/tables/adminuser']" value="Agregar">
    <input class="btn btn-form" [disabled]="!selection.hasValue()" value="Desactivar" (click)="desactivar(selection)">
    </div> -->

    <div class="actions flex">
      <a href="#" class="btn btn-ico btn-primary" [routerLinkActive]="['active']" [routerLink]="['/tables/adminuser']">
        <i class="icon-arrow-left"></i>
        <span>Agregar</span>
      </a>
      <button type="submit" class="btn btn-primary btn-ico" [disabled]="!selection.hasValue()"
        (click)="callDesactivaAler()">
        <span>Desactivar</span>
        <i class="icon-arrow-right"></i>
      </button>
    </div>

  </div>
</div>

<app-alerta [display]="verAlertaError" [tipoAlerta]="'exito'" [titulo]="tituloAlerta1" [numbtn]="'1'"
  [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>

<app-alerta [display]="verAlertaDesactivar" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="desactivar(selection)"
  [nombreAccion2]="'Cancelar'" (clickAccion2)="ocultarAlerta()">
</app-alerta>