<app-responsive-breakpoints></app-responsive-breakpoints>

<app-top-navbar-content class="main-navbar-container" ></app-top-navbar-content>

<div class="main-content-container">
  <mat-sidenav-container #drawerContainer class="">
    <mat-sidenav #sideMenu mode="side" [opened]="open_menu" position="start" class="main-sidenav">
      <app-side-menu-content></app-side-menu-content>
    </mat-sidenav>

    <div class="container-fluid main-content-outer">
      <!--<app-breadcrumb></app-breadcrumb>-->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>