<div id="alertCom" *ngIf="display" class="layer"></div>
<div id="modalEmail" *ngIf="display" class="modal modal-indicator no-gutter mb10 active">
    <div class="modal-container">
        <div class="modal-header">
            <span class="modal-icon modal-icon-info">
                <i class="glyphicon glyphicon-comment"></i>
            </span>
            <a class="modal-btn" role="button" (click)="onClickCerrar();">
                <i class="icon-input-error"></i>
            </a>
        </div>
        <div class="box">
            <div class="context-center text-center">
                <h4 class="mb30">{{titulo}}</h4>
                <p  class="text wrap-text">{{ detalle }}</p>
                <p class="text wrap-text"> El comentario debe poseeer a lo menos 20 a 60 caracteres </p>
            </div>
            <form action="#" class="form mt10" [formGroup]="formGroup" novalidate>
                <div class="wrapper" >
                    <div class="row" >
                        <div class="col-12">
                            <div [class]="(email.touched && email.invalid) ? 'form-field material invalid-input' : 'form-field material'">
                                <input id="email" formControlName="email" type="text" class="form-input" maxlength="100" required>
                                <div *ngIf="email.invalid && email.touched" class="left-align">
                                    <label *ngIf="email.errors?.required" class="leyenda text-danger">
                                        Campo obligatorio
                                    </label>
                                    <label *ngIf="!email.errors?.required && email.errors?.maxlength" class="leyenda text-danger">
                                        Debes ingresar entre un rango de 60 a 100 caracteres
                                    </label>
                                </div>
                                <label class="form-label">Comentario</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- <div class="actions">
                            <button type="submit" (click)="onClickEnviar();" [disabled]="!email.valid" class="btn btn-primary btn-ico">
                          <span>ENVIAR</span>
                          <i class="icon-arrow-right"></i>
                        </button>
                        </div> -->
                        <div class="actions flex">
                                <div >
                                    <button  type="submit" (click)="onClickEnviar();" [disabled]="!email.valid" class="btn btn-primary btn-ico">
                                                <span>ENVIAR</span>
                                                <i class="icon-arrow-right"></i>
                                     </button>
                                </div>
                                <div  class="mt20">
                                        <button  class="btn btn-secundary mb10" (click)="onClickCerrar()" >
                                                <span>CANCELAR</span>
                                                <i class="icon-arrow-right"></i>
                                     </button>
                                </div>
                            </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>