<div id="listApp" class="row">
  <div class="col-lg-12">
    <div class="card" *ngIf="visualTable">
      <header class="row title">
        <div class="col-lg-12">
          <h2 class="main-title">Consulta de Aplicaciones</h2>
          <span class="sub-title"></span>
        </div>
      </header>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>

      <div class="table-wrapper">
        <table class="table table-stripes" mat-table matSort [dataSource]="dataSourceTable2">
          <ng-container matColumnDef="nombre">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
            <td mat-cell *matCellDef="let row"> {{row.nameApp}} </td>
          </ng-container>
          <ng-container matColumnDef="canal">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>CANAL</th>
            <td mat-cell *matCellDef="let row"> {{row.channel}} </td>
          </ng-container>
          <ng-container matColumnDef="codigo">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</th>
            <td mat-cell *matCellDef="let row"> {{row.codApp}} </td>
          </ng-container>
          <ng-container matColumnDef="sisOP" class="col-md-12">
            <th md-column mat-header-cell *matHeaderCellDef mat-sort-header>SISTEMA OPERATIVO</th>
            <td mat-cell *matCellDef="let row">
              <div class="row col-xs-12 ">
                <div class="col-md col-xs-4" *ngIf="row.sisAndroid">Android</div>
                <div class="col-md col-xs-4" *ngIf="row.sisIos">IOS</div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="card"  mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

        </table>
        <mat-paginator #paginatorTable2 class="paginator" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5">
        </mat-paginator>
      </div>
    </div>
  

    <div class="actions flex">
      <a href="#" class="btn btn-ico btn-primary" [routerLinkActive]="['active']" [routerLink]="['/tables/adminapp']">
        <i class="icon-arrow-left"></i>
        <span>Agregar</span>
      </a>
    </div>

  </div>
</div>

<app-alerta [display]="verAlertaError" [tipoAlerta]="'conf'" [titulo]="tituloAlerta1" [numbtn]="'1'"
  [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>

<app-alerta [display]="verAlertaExito" [tipoAlerta]="'exito'" [titulo]="tituloAlerta1" [numbtn]="'1'"
  [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultaAlertaExito()">
</app-alerta>

<app-alerta [display]="verAlertaDesactivar" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="desactivar(selection)"
  [nombreAccion2]="'Cancelar'" (clickAccion2)="ocultarAlerta()">
</app-alerta>