/*Open Sans Light*/
@font-face {
  font-family: 'Open Sans Light';
  src: url('OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*Open Sans Light Italic*/
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/*Open Sans Regular*/
@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*Open Sans Italic*/
@font-face {
  font-family: 'Open Sans Italic';
  src: url('OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/*Open Sans Semi Bold*/
@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url('OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*Open Sans Semi Bold Italic*/
@font-face {
  font-family: 'Open Sans Semi Bold Italic';
  src: url('OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/*Open Sans Bold*/
@font-face {
  font-family: 'Open Sans Bold';
  src: url('OpenSans-Bold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}

/*Open Sans Bold Italic*/
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url('OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/*Open Sans Extra Bold */
@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url('OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/*Open Sans Extra Bold Italic c*/
@font-face {
  font-family: 'Open Sans Extra Bold Italic';
  src: url('OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

