<div class="card" id="formSolicitud">

    <header class="row title">
        <div class="col-xs-12 text-center">
            <h2 class="main-title">Formulario de Solicitudes</h2>
            <hr class="line">
        </div>
    </header>

    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" (input)="updateProgress()"
        (change)="updateProgress()" (reset)="updateProgress()">

        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">SOLICITANTE</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="solicitante" [id]="'solicitante'" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'nameAPP'">APP</label>
            <div class="col-sm-10">

                <select class="form-control" formControlName="nameApp" [id]="'nameApp'"
                    (change)="loadData($event.target.value)">
                    <option disabled selected hidden value=""> -- seleccione una App -- </option>
                    <option *ngFor="let app of dataApps" [value]="app.nameApp">
                        {{ app.nameApp }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">CANAL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" appSoloNumeros formControlName="canal" [id]="'canal'" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" >CODIGO APP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="codApp" [id]="'codApp'" readonly>
            </div>
        
        </div>
        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">VERSIÓN APP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="version" [id]="'version'">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">BUILD APP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="build" [id]="'build'">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'aprobadores'">APROBADORES</label>
            <mat-chip-list>
                <mat-chip *ngFor="let aprobador of aprobadores" [value]="aprobador">
                    {{ aprobador.name }}</mat-chip>
            </mat-chip-list>
        </div>

        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'os'">S.O.</label>
            <div class="col-sm-10">
                <select class="form-control" formControlName="os" [id]="'os'">
                    <option disabled selected hidden value=""> -- seleccione una App -- </option>
                    <option *ngFor="let os of oss" [value]="os">
                        {{ os }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">MENSAJE</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="mensaje" [id]="'mensaje'">
            </div>
        </div>

        <div class="form-group">
                <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">BOTÓN</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="button" [id]="'button'">
                </div>
            </div>

            <div class="form-group">
                    <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">BLOQUEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="bloqueo" [id]="'bloqueo'">
                    </div>
                </div>

        <div class="actions flex">
            <a href="#" class="btn btn-ico btn-primary" [routerLink]="['/tables/listuser']">
                <i class="icon-arrow-left"></i>
                <span>Cancelar</span>
            </a>
            <button type="submit" class="btn btn-primary btn-ico" type="submit" [disabled]="!form.valid && btnflag">
                <span>Agregar</span>
                <i class="icon-arrow-right"></i>
            </button>
        </div>
    </form>
</div>

<app-alerta [display]="verAlertaError" [tipoAlerta]="'conf'" [titulo]="tituloAlerta1" [numbtn]="'1'"
    [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>

<app-alerta [display]="verAlertaError2" [tipoAlerta]="'exito'" [titulo]="tituloAlerta1" [numbtn]="'1'"
    [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta2()">
</app-alerta>