<div id="form-login" class="row login-page">
  <div class="col-xs-12 text-center">
    <div class="col-xs-offset-1 col-sm-offset-2 col-lg-offset-4 col-xs-10 col-sm-8 col-lg-4">
      <img class="logo_santander" src="../../assets/imgs/login/logo_santander.png" alt="Logo Santander">
    </div>
    <div class="col-xs-offset-1 col-sm-offset-2 col-lg-offset-4 col-xs-10 col-sm-8 col-lg-4">
      <form class="form-horizontal form-stacked" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{ 'has-error': ((formLogin.get('rut').invalid) && (formLogin.get('rut').touched))  }">
          <label class="form-label form-label-big col-xs-12" [attr.for]="'rut'">RUT</label>
          <div class="col-xs-12">
            <input type="text" class="form-control" formControlName="rut" [id]="'rut'"
              placeholder="Ingrese rut sin puntos ni guión" (change)="formatRut2()" (focus)="cleanFormatRut()"
              (focusout)="formatRut2()" oninput="this.value = this.value.toLowerCase()" (input)="onKeyPress($event)"
              maxlength="12" required>
          </div>
          <div class="validation-errors col-xs-12">
            <ng-container *ngFor="let validation of validationMessages.rut">
              <div class="help-block"
                *ngIf="formLogin.get('rut').hasError(validation.type) && (formLogin.get('rut').dirty || formLogin.get('rut').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="form-group"
          [ngClass]="{ 'has-error': ((formLogin.get('password').invalid) && (formLogin.get('password').touched)) }">
          <label class="form-label form-label-big col-xs-12" [attr.for]="'password'">CLAVE</label>
          <div class="col-xs-12">
            <input type="password" class="form-control" formControlName="password" [id]="'password'" placeholder=""
              minlength="4" maxlength="16">
          </div>
          <div class="validation-errors col-xs-12">
            <ng-container *ngFor="let validation of validationMessages.password">
              <div class="help-block"
                *ngIf="formLogin.get('password').hasError(validation.type) && (formLogin.get('password').dirty || formLogin.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <!-- <a>
              <input class="btn boton" type="submit" [disabled]="!formLogin.valid || !(btnValido)" value="Ingresar">
            </a> -->
            <div class="actions">
            <button type="submit" [disabled]="!formLogin.valid || !(btnValido)" class="btn btn-primary btn-ico">
              <span>INGRESAR</span>
          </button>          
            
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-alerta [display]="verAlertaEvaluacion" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'1'" [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta()">
</app-alerta>