<div *ngIf="display" class="{{ isError() ? 'layer opacity' : 'layer' }}"></div>
<div id="modal" *ngIf="display" class="modal modal-indicator no-gutter mb10 active">
    <div class="modal-container">
        <div class="modal-header">
            <span class="modal-icon {{ modalIcon }}">
                <i [class]="icono"></i>
            </span>
            <a *ngIf="hayAccionCerrar()" class="modal-btn" role="button" (click)="emitirAccionCerrar()">
                <i class="icon-input-error"></i>
            </a>
        </div>
        <div class="gutter text-center">
            <h4 class="title light medium mb10">{{ titulo }}</h4>
            <p *ngIf="detalle" class="text wrap-text">{{ detalle }}</p>
            <p *ngIf="detalle2" class="text wrap-text mb10">{{ detalle2 }}</p>
            <div *ngIf="typebtnE" class="actions flex">
                <div *ngIf="hayAccion1()">
                    <a class="btn btn-primary" (click)="emitirAccion1();">{{ nombreAccion1 }}</a>
                </div>
                <div *ngIf="hayAccion2()" class="mt20">
                    <a class="btn btn-secundary mb10" (click)="emitirAccion2();">{{ nombreAccion2 }}</a>
                </div>
            </div>      
                <div *ngIf="typebtnC" class="actions text-center">
                    <div *ngIf="hayAccion1()">
                        <a class="btn btn-primary" (click)="emitirAccion1();">{{ nombreAccion1 }}</a>
                    </div>
                </div>
           
        </div>
    </div>
</div>
