@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../styles/_variables';
@import '../../../../styles/_mixins';


#historicos {

  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;

  }

  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }



  //copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
  $mat-header-row-height: 56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row,
  .mat-header-row {
    display: flex;
    align-items: center;
  }

  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: #9012FE;
    font-size: 14px;
    font-family: "Open Sans";
  }

  .mat-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

  .mat-cell-d {

    border-top-color: #E6E6E6;
    border-top-style: solid;
    border-width: 1px;
    //background: #F6F6F6;
    flex: 1;
    //overflow: hidden;
    //word-wrap: break-word;
    padding: 10px 0 0 10px;
  }

  .title-details {
    font-weight: bolder;
  }

  .separator-values {
    margin-right: 10px;
    min-height: $mat-row-height;

  }

  .container {
    width: 100%;
  }

  .item-details {
    width: 25%;
    align-items: center;
  }


  .mat-row {

    align-items: none;
  }


  .actions {
    padding: 20px 0;
    margin-bottom: -10%;
  }

  .actions.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .conatiner {
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .actions.flex {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: -25px;
      margin-bottom: 0px;
    }

    .actions.flex>a:first-child {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }

    .actions.flex>a:last-child {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 20px;
    }

    .mat-chip-list-wrapper {
      margin: -15px;
      padding: 18px;
    }
  }


  .btn {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }

  .btn.btn-primary {
    background-color: #9E3667;
    color: #fff;
    border: 0px;
  }

  .btn.btn-primary:hover {
    background-color: #9E3667;
    text-decoration: none;
    border: 1
  }

  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }

  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }

  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }

  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .btn-icon i {
      font-size: 18px;
    }

    .btn.btn-primary {
      margin-top: 4px;
    }

    .btn.btn-secundary {
      margin-top: 4px;
    }
  }

  .btn-icon:hover {
    text-decoration: none;
  }


  @media screen and (max-width: 996px) {
    .col-md-4 {
      padding: 10px;
      width: 30.333333%;
      text-align: center;
    }

    .col-sm-4 {
      text-align: center;
      padding: 10px;
    }

    .card {
      min-height: 750px;
    }
  }

  @media screen and (max-width: 425px) {

    .mat-table thead,
    .mat-table tbody,
    .mat-table tfoot,
    mat-header-row,
    mat-row,
    mat-footer-row,
    .mat-table-sticky {
      font-size: 10px;
    }

    .mat-form-field {
      margin-left: none;
    }

    .mat-chip-list-wrapper {
      margin: none;
      padding: none;
    }

    .mat-row {
      font-size: 12px;
    }

    td,
    .mat-cell {
      font-size: 10px;
    }

    mat-expansion-panel-body,
    mat-expansion-panel {
      padding: 0px !important;
    }

  }


  @media screen and (max-width: 1024px) {
    .card {
      min-height: 750px;
    }

  }

  .col-xs-4 {
    margin: 0px auto;
  }


  .main-title {
    font-family: 'Open Sans Semi Bold';
  }

  .sub-title {
    font-family: 'Open Sans Light';
  }

  font-family: 'Open Sans',
  sans-serif;

  .list-dashboard {
    background-image: linear-gradient(95deg, $aqua, $purple);
    color: $white;

    .list-image-circle {
      border: solid 3px $white;
    }

    .list-single {
      padding: 0 10px;

      .list-single-content {
        border-color: $white;

        .list-title {
          color: $white;
          font-size: $font-size-lg;
          font-weight: 300;
          letter-spacing: $letter-spacing-lg;
          margin-bottom: 5px;
        }

        .list-single-subtitle {
          display: block;
          font-family: 'Open Sans Light';

          .list-single-subtitle-item {
            display: block;
            font-size: $font-size-xs;
            font-weight: bold;
            letter-spacing: $letter-spacing-xs;

            &:not(:first-child) {
              opacity: .5;
            }

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }

        .list-single-right {
          align-items: center;
          display: flex;

          .list-image-group {
            display: flex;
            flex-direction: row-reverse;
            // margin-left: 25px;
            // margin-right: 20px;

            .list-image-circle {
              border-width: 1.5px;
              height: 45px;
              margin-left: -20px;
              margin-right: 0;
              width: 45px;
            }
          }

          .list-text-group {
            display: flex;
            flex-direction: column;

            .list-single-text {
              color: $white;
            }
          }
        }
      }

      .list-single-action {
        @include button($white, $aqua, $aqua);
        opacity: 1;
      }
    }
  }

  .dashboard-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;

    .dashboard-card-icon {
      margin-bottom: 15px;
      min-width: 35px;
      text-align: center;

      .fa {
        font-size: 35px;
      }
    }

    .dashboard-card-data {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      min-width: 95px;

      .dashboard-card-data-title {
        color: $grey;
        font-size: $font-size-xxs;
        font-weight: 500;
        letter-spacing: $letter-spacing-xxs;
        font-family: 'Open Sans Semi Bold';
      }

      .dashboard-card-data-number {
        font-size: $font-size-lg;
        font-weight: bold;
        font-family: 'Open Sans Semi Bold';
        letter-spacing: $letter-spacing-xxs;
      }
    }

    .dashboard-card-percentage {
      color: $green2;
      margin-bottom: 15px;
      min-width: 90px;
      text-align: center;

      .fa {
        font-size: 15px;
        margin-right: 5px;
      }

      .dashboard-card-percentage-number {
        font-size: $font-size-md;
        font-weight: 500;
        letter-spacing: $letter-spacing-md;
      }
    }
  }

  .chart {
    display: block;
    height: 460px;
  }

  .orders {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 338px;

    .orders-left {
      flex-basis: 100%;
      max-width: 100px;
      text-align: center;

      .fa {
        display: block;
        font-size: 45px;
        margin: auto;
        margin-bottom: 10px;
      }
    }

    .orders-text {
      display: block;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: $letter-spacing-lg;
      margin: auto;
      margin-bottom: 10px;
    }

    .orders-number {
      color: $aqua;
      display: block;
      font-size: $font-size-lg;
      font-weight: 900;
      letter-spacing: $letter-spacing-sm;
      margin: auto;
      margin-bottom: 15px;
    }

    .mat-button-toggle {
      background-color: $grey;
      color: $white;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: $letter-spacing-xxs;
      margin-bottom: 20px;

      .mat-button-toggle-label {
        margin-bottom: 0;
      }

      &.mat-button-toggle-checked {
        background-color: $aqua;
        border-color: $aqua;
      }
    }

    .table-lines {
      .table-row {
        &:first-child {
          .table-cell {
            border-top: 0;
          }
        }

        .table-cell {
          padding: 15px;
          display: flex;
          justify-content: space-between;

          .order-title {}

          .order-value {
            color: $purple;
            font-weight: bold;
          }
        }
      }
    }

    .orders-right {
      flex-basis: 70%;

      .table {
        margin-bottom: 0;
      }
    }
  }

  .card-tabs {
    min-height: 378px;

    .chart-data-chart {
      margin: auto;
      min-height: 270px;
      min-width: 200px;
      position: relative;
      width: 270px;

      .fa {
        color: $grey8;
        font-size: 60px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: calc(50% - .5em);
      }
    }

    .chart-data-key {
      min-width: 160px;
    }
  }


  .dashboard-list-item-checkbox {
    margin-right: 25px;

    .mat-checkbox-inner-container {
      height: 18px;
      width: 18px;
    }

    &.mat-checkbox-checked {
      &~.dashboard-list-item-content {
        .dashboard-list-item-text {
          color: $purple;
          text-decoration: line-through;
        }

        .dashboard-list-item-sub {
          color: $purple;
        }
      }
    }
  }

  .dashboard-list-title {
    color: $grey;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.8px;
    margin-bottom: 30px;
    margin-top: 0;

    strong {
      color: $grey8;
    }
  }

  .dashboard-list {
    list-style: none;
    padding: 0;

    .dashboard-list-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .dashboard-list-item-image {
        height: 80px;
        text-align: center;
        width: 80px;

        &.image-circle {
          border-radius: 50%;
          height: 25px;
          width: 25px;
        }

        @media only screen and (max-width: $screen-xs-max) {
          height: 20px;
          width: 20px;
        }
      }

      .dashboard-list-item-title {
        color: $grey5;
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing-xxs;
        margin-bottom: 5px;
        margin-top: 0;

        &.color-red {
          color: $red2;
          font-weight: bold;
        }
      }

      .dashboard-list-item-text {
        color: $black;
        display: block;
        font-size: $font-size-sm;
        font-weight: bold;
        letter-spacing: $letter-spacing-sm;
        margin-bottom: 5px;
      }

      .dashboard-list-item-sub {
        color: $grey5;
        display: block;
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing-xxs;
        font-family: 'Open Sans Light';
      }

      .dashboard-list-item-action {
        align-items: flex-end;
        color: $grey;
        display: flex;
        flex-direction: column;
        opacity: 0;

        .fa {
          font-size: 20px;
        }
      }

      &:hover {
        .dashboard-list-item-action {
          opacity: 1;
        }
      }
    }

    .dashboard-list-item-content {
      flex-grow: 1;
      margin: 0 30px;
    }

    .dashboard-list-item-subcontent {
      display: flex;
      justify-content: space-between;
    }
  }

  .campaigns {
    .dashboard-list {
      .dashboard-list-item {
        &:not(:last-child) {
          border-bottom: 1px solid $grey4;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }

      .dashboard-list-item-title {
        color: $purple;
        font-size: $font-size-lg;
        letter-spacing: $letter-spacing-lg;
      }

      .dashboard-list-item-action {
        opacity: 1;

        .dashboard-list-item-action-text {
          font-size: $font-size-xxs;
          letter-spacing: $letter-spacing-xxs;
          margin-bottom: 15px;
        }

        .fa {
          &:not(:last-child) {
            margin-bottom: 10px;
            margin-right: 3px;
          }
        }
      }
    }
  }

  .round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
  }

  .round.blue {
    background-color: #1BB3BC;
  }

  .round.green {
    background-color: #63BA68;
  }

  .round.red {
    background-color: #CC0000;
  }

  .container1 {
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
  }

  mat-progress-bar .mat-progress-bar-buffer {
    background: #E4E8EB;
  }

  .green-progress .mat-progress-bar-fill::after {
    background-color: #63BA68 !important;
  }

  .blue-progress .mat-progress-bar-fill::after {
    background-color: #3366FF;
  }


  .red-progress .mat-progress-bar-fill::after {
    background-color: #EC0000;
  }

  td {
    font-size: 15px;
    font-style: normal;
  }

  .cabezera {
    max-height: 110px;
    height: 100%;
    width: 100%;
  }

  .cabezera>img {
    width: 100%;
    height: 100%;
    max-width: 70px;
  }

  .text-center {
    text-align: center;
  }


}