<div id="adminapp">
<div class="card">

  <header class="row title">
    <div class="col-xs-12 text-center">
      <h2 class="main-title">Formulario de Aplicaciones</h2>
      <hr class="line">
    </div>
  </header>

  <form class="form-horizontal" [formGroup]="form" (input)="updateProgress()" (change)="updateProgress()"
    (reset)="updateProgress()">

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">NOMBRE APP</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="nameApp" [id]="'nameApp'">
      </div>
    </div>

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">CANAL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="channel"  appSoloNumeros [id]="'channel'">
      </div>
    </div>

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">CODIGO APP</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="codApp" appSoloLetrasNumeros [id]="'codApp'">
      </div>
    </div>

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">APROBADORES</label>
      <div class="col-sm-10">
        <mat-form-field class="example-chip-list ">
          <mat-chip-list #chipListapp>
            <mat-chip *ngFor="let applicant of applicants; index as i" [selectable]="selectable" [removable]="removable"
              (removed)="removeApplicant(applicant)">
              {{applicant}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nuevo Aprobador" #applicantInput  [matAutocomplete]="autoapp" form
              [matChipInputFor]="chipListapp" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [formControl]="applicantCtrl" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addApplicant($event)">
          </mat-chip-list>
          <mat-autocomplete #autoapp="matAutocomplete" (optionSelected)="selectedApplicant($event)">
            <mat-option *ngFor="let applicant of allApplicants" [value]="applicant">
              {{applicant.name}}
            </mat-option>
          </mat-autocomplete>
         
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">SOLICITANTES</label>
      <div class="col-sm-10">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let solicitante of solicitantes" [selectable]="selectable" [removable]="removable"
              (removed)="remove(solicitante)">
              {{solicitante}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nuevo Solicitante" #solicitanteInput [formControl]="solicitanteCtrl"
              [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let solicitante of allSolicitantes" [value]="solicitante.rut">
              {{solicitante.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <!-- <label class="form-label form-label-big col-md-12" [attr.for]="'disabled'">Sistemas Operativos</label> -->
    <div class="form-group col-md row">
      <label class="form-label form-label-big col-sm-2 col-xs-12" [attr.for]="'disabled'">SISTEMA OPERATIVO</label>
      <div class="col-md-4 col-sm-4 col-xs-4 row">
        <mat-checkbox formControlName="sisIos" id="sisIos" ngModel value="IOS">IOS</mat-checkbox>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 row">
        <mat-checkbox formControlName="sisAndroid" id="sisAndroid" ngModel value="ANDROID">ANDROID</mat-checkbox>
      </div>

    </div>

    <div class="actions flex">
      <a href="#" class="btn btn-ico btn-primary" [routerLink]="['/tables/listapp']">
        <i class="icon-arrow-left"></i>
        <span>Cancelar</span>
      </a>
      <button type="submit" class="btn btn-primary btn-ico" [disabled]="!(form.valid)" (click)="onSubmit()">
        <span>Agregar</span>
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </form>

</div>
</div>

<app-alerta [display]="verAlertaError" [tipoAlerta]="'conf'" [titulo]="tituloAlerta1" [numbtn]="'1'"
  [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>

<app-alerta [display]="varConfirm" [tipoAlerta]="'exito'" [titulo]="tituloAlerta1" [numbtn]="'1'"
  [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta2()">
</app-alerta>