<div *ngIf="loading" class="loading" [ngStyle]="embebido ? {height: '100%', position: 'absolute'} : ''">
  <div>
      <div class="loading-cnt">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="27px" height="25px" viewBox="-12 0 150.178 141.878" enable-background="new -12 0 150.178 141.878" xml:space="preserve">
        <path fill="#EC0000" d="M95.634,64.945c-0.223-5.147-1.664-10.256-4.33-14.873L67.791,9.346c-1.793-3.105-3.03-6.434-3.719-9.846 l-0.983,1.701c-5.82,10.08-5.82,22.498,0,32.578l18.811,32.582c5.82,10.08,5.82,22.498,0,32.578l-0.983,1.702 c-0.688-3.411-1.926-6.739-3.719-9.847L59.976,60.968L48.981,41.925c-1.793-3.104-3.031-6.435-3.719-9.847l-0.983,1.701 c-5.8,10.047-5.818,22.416-0.057,32.478l-0.002,0.002l18.869,32.683c5.82,10.08,5.82,22.498,0,32.577l-0.983,1.703 c-0.688-3.412-1.926-6.739-3.719-9.849L34.874,82.65c-3.153-5.463-4.594-11.611-4.33-17.703C5.373,71.523-12,85.486-12,101.654 c0,22.49,33.619,40.724,75.089,40.724c41.471,0,75.089-18.231,75.089-40.724C138.178,85.488,120.808,71.521,95.634,64.945"/>
      </svg>
          <div class='uil-ring-css'>
              <div></div>
          </div>
      </div>

      <div class="loading-text">
          <p class="loading-text_big">{{titulo}}</p>
          <p>{{detalle}}</p>
      </div>
  </div>

</div>