<app-load-screen [cambioEstado]="loadingStatus"></app-load-screen>
<!--<app-alerta [display]="verAlertaEvaluacion" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'1'" [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta()"></app-alerta>-->
<router-outlet></router-outlet>