<div id="update" class="row">

        <div class="main">
        <div class="box">
            
           
            <header class="row title">
                <div class="col-lg-12">
                    <h2 class="main-title">Consulta Versión Productiva</h2>
                    <span class="sub-title"></span>
                </div>
            </header>
            
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label class="form-label form-label-sm col-sm-2" [attr.for]="'disabled'">Código App</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="codApp" appSoloLetrasNumeros [id]="'codApp'">
                    </div>
                </div>

               <div class="actions flex">
                    <button type="submit" class="btn btn-primary btn-ico" type="submit" [disabled]="!form.valid || btnflag">
                            <span>Buscar</span>
                            <i class="icon-arrow-right"></i>
                        </button>
                </div>
            </form>
        </div>
        

      <div  *ngIf="flagDataLoad">
          <div class="box">
            <div class="table-responsive">
              <table class="table table-information">
                    <tr>
                            <td >Codigo Aplicacion</td>
                            <td >CodigoCanal</td>
                            <td >Ip</td>
                    </tr>
                    <tr>   
                            <td><p class="text-center">{{dataResult[dataResult.length -1]._source.CodigoAplicacion}}</p></td>
                            <td><p class="text-center">{{dataResult[dataResult.length -1]._source.CodigoCanal}}</p></td> 
                            <td><p class="text-center">{{dataResult[dataResult.length -1]._source.Ip}}</p></td> 
                    </tr>
                </table>   
            </div>      
            <form class="form-horizontal" [formGroup]="formUpdate" (ngSubmit)="onSubmitUpdate()">

                <div class="form-group">
                    <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">Versión</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="Version" [id]="'Version'">
                    </div>
                </div>

                <div class="form-group">
                        <label class="form-label form-label-big col-sm-2" >S.O</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="OS" [id]="'OS'" readonly>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">Build</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="Build" [id]="'Build'">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">Bloquear</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="Bloquear" [id]="'Bloquear'">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">Mensaje</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="Mensaje" [id]="'Mensaje'">
                    </div>
                </div>


                <div class="form-group">
                        <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">Boton</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="Boton" [id]="'Boton'">
                        </div>
                    </div>

                <div class="actions flex">
                        <button type="submit" class="btn btn-primary btn-ico" type="submit" [disabled]="!formUpdate.valid || btnflagUp">
                                <span>Actualizar</span>
                                <i class="icon-arrow-right"></i>
                            </button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<app-alerta [display]="verAlertaExito" [tipoAlerta]="'exito'" [titulo]="tituloAlerta1" [numbtn]="'1'"
    [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>


<app-alerta [display]="verAlertaErr" [tipoAlerta]="'error'" [titulo]="tituloAlertaErr" [numbtn]="'1'"
    [detalle]="detalleAlertaErr" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlertaErr()">
</app-alerta>