<div *ngIf="display" class="layer"></div>
<div id="modal" *ngIf="display" class="modal modal-indicator no-gutter mb10 active">
    <div class="modal-container">
        <div class="modal-header">
            <span class="modal-icon modal-icon-info">
                <i class="icon-Info-accounts"></i>
            </span>
            <!-- <a *ngIf="hayAccionCerrar()" class="modal-btn" role="button" (click)="emitirAccionCerrar()">
                <i class="icon-input-error"></i>
            </a> -->
        </div>
        <div class="gutter text-center tooltip-modal-container">
            <h4 class="title light medium mb10">Detalle Aprobadores</h4>   
                     <!-- <p *ngIf="detalle" class="text wrap-text">{{ detalle }}</p> -->         
                     <div class="table-responsive">         
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Aprobador</th>
                          <th>Respuesta</th>
                        </tr>
                      </thead>
                      <tbody>                   
                        <tr *ngFor="let aprobador of data; index as i">
                            <td>{{aprobador.name}}</td>
                            <td>{{aprobador.status}}</td>                         
                        </tr>
                      </tbody>
                    </table>
                </div>
            
            <!-- <p  class="text wrap-text mb10"> </p>      -->
            <!-- <p  class="text wrap-text mb10">   </p>  -->
            <!-- <p  class="text wrap-text mb10">  </p>  -->
                <div  class="actions text-center">
                        <div *ngIf="hayAccion1()">
                                <a class="btn btn-primary" (click)="emitirAccion1();">Aceptar</a>
                            </div>
                </div>
           
        </div>
    </div>
</div>
