

.actions {
  padding: 20px 0;
}

.actions.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .actions.flex {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .actions.flex>a:first-child {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
  }
  .actions.flex>a:last-child {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 20px;
  }
}


.modal {
  position: fixed;
  top: middle;
  left: 0;
  height: 500px;
  z-index: 999;
  text-align: center;
  width: 100%;
  display: none;
}

.modal.active {
  display: block;
}

.modal-container {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  max-width: 550px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.modal-header {
  position: relative;
  padding: 15px;
  border-bottom: solid 1px #DDDDDD;
}

@media screen and (max-width: 768px) {
  .modal-header {
    padding: 10px;
  }
  .modal-header .col-4.text-right {
    text-align: left;
  }
}

.modal-content {
  max-height: 550px;
  overflow: hidden;
  overflow-y: auto;
}

.modal-content .gutter {
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .modal-content .gutter {
    padding: 25px;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    max-height: 350px;
  }
}

.modal-btn {
  position: absolute;
  top: -30px;
  font-size: 20px;
  display: block;
  right: 0;
  color: #fff;
}

.modal-btn:hover {
  text-decoration: none;
}

.modal-indicator {
  text-align: center;
  padding-top: 38px;
  margin-top: 12%;
}

.modal-indicator .modal-header {
  border: none;
}

.modal-indicator .modal-icon {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.modal-indicator .modal-icon i:before {
  line-height: 56px;
}

.modal-indicator .alert-text {
  font-size: 12px;
}

.modal-icon {
  width: 56px;
  height: 56px;
  text-align: center;
  border-radius: 72px;
  display: inline-block;
  line-height: 58px;
  font-size: 28px;
  vertical-align: middle;
  margin-bottom: 15px !important;
}

.modal-icon.modal-icon-info {
  background-color: #1BB3BC;
  color: #fff;
}

.modal-icon.modal-icon-alert {
  background-color: #EC0000;
  color: #fff;
}

.modal-icon.modal-icon-warning {
  background-color: #e59d27;
  color: #fff;
}

.modal-icon.modal-icon-success {
  background-color: #ABC111;
  color: #fff;
}

.gutter {
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .gutter {
    padding: 24px;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.actions {
  padding: 20px 0;
}

.text.wrap-text {
  white-space: pre-wrap;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.66);
}

.layer.opacity {
  opacity: 0;
}

.icon-Info{
  margin-top: 6px;
  margin-bottom: 2px;
  content: url('../../assets/iconos/icon-alerta.png');
  width: 19%;
  color: #fff;
}


.btn {
  font-size: 14px;
  text-transform: uppercase;
  min-width: 180px;
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.btn.btn-primary {
  background-color: #9E3667;
  color: #fff;
  border: 0px;
}

.btn.btn-primary:hover {
  background-color: #9E3667;
  text-decoration: none;
  border: 1
}
.btn.btn-secundary {
  background-color: #C2C2C2;
  color: #fff;
  border: 0px;
}

.btn.btn-secundary:hover {
  background-color: #C2C2C2;
  text-decoration: none;
  border: 1
}

.btn.btn-ico>* {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.btn-icon i {
  font-size: 24px;
  line-height: 100%;
}

.btn.btn-clear {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  min-width: inherit;
  color: #444;
}

.btn.btn-clear:hover {
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn-icon i {
      font-size: 18px;
  }
  .btn.btn-primary {
    margin-top: 4px;
  }
  .btn.btn-secundary {
    margin-top: 4px;
  }
}

.btn-icon:hover {
  text-decoration: none;
}

th {
  text-align: center;
}


.icon-Info-accounts:before {
 
    content: "\e908";
    color: #fff;
}

