<div class="card">

  <header class="row title">
    <div class="col-xs-12 text-center">
      <h2 class="main-title">Formulario de Usuarios</h2>
      <hr class="line">
    </div>
  </header>

  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" (input)="updateProgress()"
    (change)="updateProgress()" (reset)="updateProgress()">

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">RUT</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="rut" [id]="'rut'">
      </div>
      <div class="help-block" *ngIf="!form.get('rut').valid && (form.get('rut').dirty || form.get('rut').touched)">
        Debe ingresar un rut válido
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">NOMBRE</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="firstName" [id]="'firstName'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">CELULA</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="celula" [id]="'celula'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">PERFIL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="profile" [id]="'profile'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">ROL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="rol" [id]="'rol'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">EMAIL</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" formControlName="email" email="true" [id]="'email'">
      </div>
      <div class="help-block" *ngIf="!form.get('email').valid && (form.get('email').dirty || form.get('email').touched)">
        Debe ingresar un email válido
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'status'">STATUS</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="status" [id]="'status'">
          <option disabled selected hidden value=""> -- Seleccione una Opción -- </option>
          <option>Activo</option>
          <option>Inactivo</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2">PROGRESO ({{ progress }}%)</label>
      <div class="col-sm-10">
        <mat-progress-bar class="mat-progress-bar-big" [value]="progress"></mat-progress-bar>
      </div>
    </div>

    <div class="actions flex">
      <a href="#" class="btn btn-ico btn-primary" [routerLink]="['/tables/listuser']">
        <i class="icon-arrow-left"></i>
        <span>Cancelar</span>
      </a>
      <button type="submit" class="btn btn-primary btn-ico" type="submit" [disabled]="!form.valid">
        <span>Agregar</span>
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </form>
</div>



<app-alerta [display]="verAlertaError" [tipoAlerta]="'conf'" [titulo]="tituloAlerta1" [numbtn]="'1'" [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
  </app-alerta>

  <app-alerta [display]="verAlertaError2" [tipoAlerta]="'conf'" [titulo]="tituloAlerta1" [numbtn]="'1'" [detalle]="detalleAlerta1" [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta2()">
    </app-alerta>