

#update{

.main-title {
  font-size: 14px;
}

  .actions {
    padding: 20px 0;
    margin-bottom: -10%;
    margin-top: 10px;
  }
  
  .actions.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

  }
  
  .conatiner{
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .actions.flex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: -25px;
        margin-bottom: 0px;
    }
    .actions.flex>a:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .actions.flex>a:last-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }
    .mat-chip-list-wrapper {
      margin: -15px;
      padding: 18px;
  }
  }
  
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }
  
  .btn.btn-primary {
    background-color: #9E3667;
    color: #fff;
    border: 0px;
    padding: 10px;
  }
  
  .btn.btn-primary:hover {
    background-color: #9E3667;
    text-decoration: none;
    border: 1
  }
  
  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }
  
  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }
  
  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .btn-icon i {
        font-size: 18px;
    }
    .btn.btn-primary {
      margin-top: 4px;
    }
    .btn.btn-secundary {
      margin-top: 4px;
    }
  }
  
  .btn-icon:hover {
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 996px){
  .col-md-4 {
      padding: 10px;
      width: 30.333333%;
      text-align: center;
  }
  .col-sm-4{
    text-align: center;
    padding: 10px;
  }
  .card{
    min-height: 750px;
  }
  }
  
  @media screen and (max-width: 425px){
    .mat-form-field {
      margin-left: none;
    }
    .mat-chip-list-wrapper {
      margin: none;
      padding: none;
  }
    
    }    
  
  
    @media screen and (max-width: 1024px){
      .card {
        min-height: 385px;
      }


    
      
      }

      .text-center {
        margin-top:4px;
        text-align: left;
        width: 15%;
        padding: 12px;
      }


      .box {
        //border: 2px solid red;
        border-radius: 4px;
        display: block;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        background-color: #fff;
        max-width: 830px;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 6%;
         
       // color: #444;
    }

    .main {
      max-width: 830px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 24px;
  }
  
  @media screen and (max-width: 992px) {
      .main {
          padding: 0 auto;
      }
  }

}
   