<div class="branding-col">
  <button type=" button" (click)="toggleSideMenu()" class="menu-toggle"
    [ngClass]="{ 'menu-visible': sideMenuVisible, 'menu-hidden': !sideMenuVisible }">
    <i class="fa fa-bars"></i>
  </button>
  <div class="brand-wrapper">
    <img class="brand-logo" src="../../../../assets/imgs/dashboard/logo_banco.png" alt="Santander">
  </div>
</div>

<div class="actions-wrapper">
    <div class="name">
     {{nameUser}}
      </div>
  <div class="logged-user">
    <button type="button" class="btn-notifications" mat-icon-button (click)="logout()">
      <i class="icon-Cerrar-sesion"></i>
    </button>
  </div>
</div>

<app-alerta [display]="verAlertaEvaluacion" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="out()" [nombreAccion2]="'Cancelar'"
  (clickAccion2)="ocultarAlerta()">
</app-alerta>