<div id="historicos" class="row">
  <div class="col-lg-12">
    <div class="card" *ngIf="visualTable">
      <header class="row title">
        <div class="col-lg-12">
          <h2 class="main-title">Lista de Versiones Productivas</h2>
          <span class="sub-title">Selecciona una aplicación para conocer sus versiones productivas</span>
        </div>
      </header>

      <mat-accordion displayMode="flat" multi class="mat-table">


        <mat-expansion-panel *ngFor="let item of listApp">
          <mat-expansion-panel-header class="mat-row">
            <span class="mat-cell">{{item.nameApp}}</span>
          </mat-expansion-panel-header>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>BUILD</th>
                  <th>VERSION</th>
                  <th>S.O</th>
                  <th>Mensaje</th>
                  <th>Botón</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let el of item.data">
                  <td>{{el.Build}} </td>
                  <td>{{el.Version}}</td>
                  <td>{{el.OS}}</td>
                  <td>{{el.Mensaje}}</td>
                  <td>{{el.Boton}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>