<div id="dashboard">
  <div *ngIf="flagNull">
    <mat-card class="example-card" *ngIf="visualTable" >
      <mat-card-header class="text-center">
        <mat-card-title class="text-center">Sin Resultados</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="text-center">
        <p>
          No posees Solicitudes.
        </p>
        <div class="cabezera">
          <img src="../../assets/imgs/dashboard/lupa.png" alt="">
          <!-- <span class="icon-FUNC062"></span>-->
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  <div *ngIf="flagAprobador || flagSolicitante" id="dashboard" class="row">
    <div class="col-lg-12">
      <div class="card">
        <header class="row title">
          <div class="col-lg-12">
            <h2 class="main-title">Consulta de Solicitudes</h2>
            <span class="sub-title">Lista de solicitudes Aprobadas, Pendientes y/o Rechazadas</span>
          </div>
        </header>

        <mat-form-field class="filter-wrapper">
          <input matInput (keyup)="applyFilterTable2($event.target.value)" placeholder="Filtro">
        </mat-form-field>
        <div class="table-responsive">
          <div class="table-wrapper ">
            <table class="table table-stripes" resize md-table mat-table [dataSource]="dataSourceTable2" matSort
              matSortStart="desc">

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef role="columnheader">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="solicitante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> SOLICITANTE </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.solicitante}} </td>
              </ng-container>

              <ng-container matColumnDef="nameApp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> NOMBRE APP</th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.nameApp}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> FECHA </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.fecha}} </td>
              </ng-container>

              <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> VERSION </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.version}} </td>
              </ng-container>

              <ng-container matColumnDef="build">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> BUILD </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.build}} </td>
              </ng-container>

              <ng-container matColumnDef="codApp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> CÓD. APP </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.codApp}} </td>
              </ng-container>

              <ng-container matColumnDef="canal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> CANAL </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.canal}} </td>
              </ng-container>

              <ng-container matColumnDef="mensaje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> MENSAJE </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.mensaje}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCION </th>
              <td mat-cell *matCellDef="let row"> {{row.accion}} </td>
            </ng-container> -->

              <ng-container matColumnDef="os">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> S.O. </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell"> {{row.os}} </td>
              </ng-container>

              <ng-container matColumnDef="aprobadores">
                <th mat-header-cell *matHeaderCellDef mat-sort-header md-column role="columnheader"> PROGRESO </th>
                <td mat-cell *matCellDef="let row" md-cell role="cell">

                  <div *ngFor="let aprobador of row.aprobadores; index as i">
                    <div *ngIf="row.aprobadores.length-1 == i && i == 2">
                      <div
                        *ngIf="updateProgress(row.aprobadores[0].status,row.aprobadores[1].status, row.aprobadores[2].status)">
                        <div class="form-group ">
                          <div class="col-md">
                            <label class="form-label form-label-big ">({{ progress }} {{ valuestring }})</label>
                          </div>
                          <div class="col-sm-10">
                            <mat-progress-bar mode="buffered" class="mat-progress-bar-medium" [ngClass]="{
                                'green-progress':colorBar === '1',
                                'blue-progress':colorBar === '3',
                                'red-progress':colorBar === '2'
                              }" [value]="progress"></mat-progress-bar>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div *ngIf="row.aprobadores.length-1 == i && i == 0">
                      <div *ngIf="updateProgress(row.aprobadores[0].status)">
                        <div class="form-group ">
                          <div class="col-md">
                            <label class="form-label form-label-big ">({{ progress }} {{ valuestring }})</label>
                          </div>
                          <div class="col-sm-10">
                            <mat-progress-bar mode="buffered" class="mat-progress-bar-medium" [ngClass]="{
                                  'green-progress':colorBar === '1',
                                  'blue-progress':colorBar === '3',
                                  'red-progress':colorBar === '2'
                                }" [value]="progress"></mat-progress-bar>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div *ngIf="row.aprobadores.length-1 == i && i == 1">
                      <div *ngIf="updateProgress(row.aprobadores[0].status,row.aprobadores[1].status)">
                        <div class="form-group ">
                          <div class="col-md">
                            <label class="form-label form-label-big ">({{ progress }} {{ valuestring }})</label>
                          </div>
                          <div class="col-sm-10">
                            <mat-progress-bar mode="buffered" class="mat-progress-bar-medium" [ngClass]="{
                                    'green-progress':colorBar === '1',
                                    'blue-progress':colorBar === '3',
                                    'red-progress':colorBar === '2'
                                  }" [value]="progress"></mat-progress-bar>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                </td>

              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsTable2"></tr>
              <tr class="card" mat-row *matRowDef="let row; columns: displayedColumnsTable2;"
                (click)="onclicktooltip(row.aprobadores);">
              </tr>
              <!-- -->

            </table>


            <mat-paginator #paginatorTable2 class="paginator" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5">
            </mat-paginator>
          </div>
        </div>

      </div>
      <div *ngIf="flagSolicitante">
        <div></div>
        <div class="actions flex">
          <button type="submit" class="btn btn-primary btn-ico" [disabled]="!selection.hasValue()" (click)="cancelar()">
            <span>Cancelar Solicitud</span>
            <i class="icon-arrow-right"></i>
          </button>
        </div>
      </div>

      <div *ngIf="flagAprobador">
        <div class="actions flex">
          <button type="submit" class="btn btn-ico btn-primary" [disabled]="!selection.hasValue()"
            (click)="callAlertaAprob()">
            <i class="icon-arrow-left"></i>
            <span>Aprobar</span>
          </button>
          <button type="submit" class="btn btn-primary btn-ico" [disabled]="!selection.hasValue()" (click)="rechazar()">
            <span>Rechazar</span>
            <i class="icon-arrow-right"></i>
          </button>
        </div>
      </div>


    </div>

  </div>
</div>
<app-tooltip-component [tipoTooltip]="'conf'" [display]="showTooltip" [data]="tooldata" [cantAprob]="cantAprob"
  (clickAccion1)="ocultarAlerta()">
</app-tooltip-component>

<app-alerta [display]="validateResAprobador" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" [nombreAccion2]="'Cancelar'" (clickAccion1)="aprobar(selection)"
  (clickAccion2)="ocultarAlertaAprob()">
</app-alerta>

<app-alerta [display]="validateResAprobador2" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" [nombreAccion2]="'Cancelar'"
  (clickAccion1)="enviarComentario(selection)" (clickAccion2)="ocultarAlertaAprob2()">
</app-alerta>

<app-alerta [display]="varExito" [tipoAlerta]="'exito'" [titulo]="tituloAlerta" [numbtn]="'1'" [detalle]="detalleAlerta"
  [nombreAccion1]="'Aceptar'" (clickAccion1)="ocultarAlerta1()">
</app-alerta>

<app-alerta [display]="displayDialogEliminar" [tipoAlerta]="'conf'" [titulo]="tituloComment" [numbtn]="'2'"
  [detalle]="detalleComment" [nombreAccion1]="'Aceptar'" [nombreAccion2]="'Cancelar'"
  (clickAccion1)="eliminar(selection)" (clickAccion2)="cerrarDialogoSolici()">
</app-alerta>


<app-alerta [display]="errorSelec" [tipoAlerta]="'error'" [titulo]="tituloAlerta" [numbtn]="'1'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="cerrarError()">
</app-alerta>