<div class="card">

  <header class="row title">
    <div class="col-xs-12 text-center">
      <h2 class="main-title">Actualizar Usuario</h2>
      <hr class="line">
    </div>
  </header>

  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">RUT</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="rut" [id]="'rut'" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">NOMBRE</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="firstName" [id]="'firstName'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">CELULA</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="celula" [id]="'celula'">
      </div>

    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">PERFIL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="profile" [id]="'profile'">
      </div>

    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">ROL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="rol" [id]="'rol'">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'disabled'">EMAIL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="email" [id]="'email'">
      </div>
    </div>

    <div class="form-group">
      <label class="form-label form-label-big col-sm-2" [attr.for]="'status'">STATUS</label>
      <div class="col-sm-10">

        <select class="form-control" formControlName="status" [id]="'status'">
          <option disabled selected hidden value=""> -- seleccione un status -- </option>
          <!--<option *ngFor="let item of statusList" [value]="item.status"
            [selected]="userDataLocal.status == item.status">
            {{ item.status }}</option>-->
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select>
      </div>
    </div>

    <div class="text-center">
      <input *ngIf="userDataLocal === undefined" class="btn btn-form" type="submit" [disabled]="!form.valid"
        value="Agregar">
      <input *ngIf="userDataLocal !== undefined" class="btn btn-form" type="submit" [disabled]="!form.valid"
        value="Actualizar">
      <input class="btn btn-form" [routerLink]="['/tables/listuser']" value="Cancelar">

    </div>
  </form>

</div>