<div id="pagError" *ngIf="display" class="container">
    <div class="page error" id="generic_error">
        <div class="page__content">
            <div class="page__body">
                <span class="page__icon"><i class="icon-less"></i></span>
                <h2>Error</h2>
                <div class="scroll_text text-center mb-20">
                    <p>{{detalle? detalle : detalleDefault}}</p>
                </div>
                <div class="actions flex">
                        <div *ngIf="!logout ">
                                <button href="#" title="Volver al Home" class="btn btn-primary btn-ico" (click)="oculta()">Aceptar</button>
                        </div>
                        <div *ngIf="logout ">
                            <button href="#" title="Volver al Home" class="btn btn-primary btn-ico" (click)="ocultaLogout()">Aceptar</button>
                    </div>
                    </div>  
            </div>
            
            <!-- <div class="page__action">
                <div class="clearfix mb-20"></div> -->
                <!-- <button href="#" title="Volver al Home" class="btn btn--small btn--plane" (click)="oculta()">Aceptar</button> -->
            <!-- </div> -->
        </div>
    </div>
</div>