#pagError{
    [data-icon]:before {
        font-family: "santander-icons" !important;
        content: attr(data-icon);
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        font-family: "santander-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    .container {
        font-family: 'Open Sans', sans-serif;
        height: auto;
        margin: 0 auto;
        display: block;
        z-index: 1;
        color: #666666;
        padding: 0;
    }
    
    .container.container-full {
        width: 100%;
        padding: 0;
    }
    
    .container {
        padding: 20px;
    }
    
    .container h2 {
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    .container h3 {
        font-size: 14px;
    }
    
    .page {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        overflow-x: hidden;
        z-index: 999;
        display: block;
        box-sizing: border-box;
        padding: 10px;
        font-family: 'Open Sans Light Italic' !important;
        text-align: center;
        display: block;
    }
    
    .page.error h2 {
        font-size: 20px;
        font-weight: normal;
        color: #444444;
    }
    
    .page.error .scroll_text {
        font-size: 14px;
        font-weight: normal;
        color: #444444;
        margin-bottom: 15px;
    }
    
    .page.error .page__icon {
        display: block;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #ec0000;
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: white;
    }
    
    .page.error .page__icon i {
        width: 32px;
        height: 12px;
        display: block;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        line-height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .page.error .page__icon i:before {
        line-height: 100%;
    }
    
    .page__content {
        width: 100%;
        height: auto;
        z-index: 8889;
        max-width: 680px;
        position: absolute;
        line-height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .page__close {
        color: #fff;
        cursor: pointer;
        font-size: 22px;
        position: absolute;
        right: 15px;
        top: -30px;
    }
    
    .page__body {
        background: #fff;
        padding: 10px 30px 20px;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 transparent;
    }
    
    .page__body h2 {
        color: #444;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 50px;
        font-weight: 600;
        padding-bottom: 0 !important;
    }
    
    .page__body p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: #444444;
        text-align: center;
    }
    
    .page__action {
        margin-top: 30px;
    }
    
    .page__content {
        width: 100%;
        height: auto;
        z-index: 8889;
        max-width: 680px;
        position: absolute;
        line-height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .page__body {
        background: #fff;
        padding: 10px 30px 20px;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 transparent;
    }
    
    .page__body h2 {
        color: #444;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 50px;
        font-weight: 600;
        padding-bottom: 0 !important;
    }
    
    .page__body p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: #444444;
        text-align: center;
    }
    
    .page.error .page__icon {
        display: block;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #ec0000;
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: white;
    }
    
    .page.error .page__icon i {
        width: 32px;
        height: 12px;
        display: block;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        line-height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .page.error .page__icon i:before {
        line-height: 100%;
    }
    
    .icon-less:before {
        content: "\e055";
    }
    
    .page__action {
        margin-top: 30px;
    }
    
    .scroll_text {
        text-align: left;
        max-height: 320px;
        margin: 15px 0;
        overflow: hidden;
        overflow-y: auto;
    }
    
    .scroll_text p {
        text-align: left;
    }
    
    .scroll_text p:first-child {
        margin-top: 0;
    }
    
    .scroll_text p:last-child {
        margin-bottom: 15px;
    }
    
    .scroll_text.text-center {
        text-align: center;
    }
    
    .scroll_text.text-center p {
        text-align: center;
    }
    
    @media screen and (max-width: 320px) {
        .scroll_text {
            max-height: 180px;
        }
    }
    
    .modal.error .scroll_text {
        font-size: 14px;
        font-weight: normal;
        color: #444444;
    }
    
    .page.error .scroll_text {
        font-size: 14px;
        font-weight: normal;
        color: #444444;
    }
    
    .btn {
        display: inline-block;
        border-radius: 24px;
        padding: 12px 50px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
    }
    
    .btn.btn-primary {
        background: #ec0000;
        color: #fff;
    }
    
    .btn.btn-primary:hover {
        background-color: #990000;
    }
    
    .btn.btn-primary.btn-disabled {
        background: #C2C2C2;
        color: #fff;
    }
    
    .btn.btn-secondary {
        background: #fff;
        color: #ec0000;
        border: 1px solid #999;
    }
    
    .btn.btn-secondary:hover {
        border: 1px solid #ec0000;
    }
    
    .btn.btn-secondary.btn-disabled {
        border: 1px solid #c2c2c2;
        color: #c2c2c2;
    }
    
    .btn.btn-plane {
        background: transparent;
        color: #ec0000;
        font-weight: 600;
    }
    
    .btn.btn-plane:hover {
        background: #f2f2f2;
    }
    
    .btn.btn-plane.btn-disabled {
        color: #c2c2c2;
        background: transparent;
    }
    
    .btn.btn-outline {
        background: #fff;
        color: #ec0000;
        border: 1px solid #ec0000;
    }
    
    .btn.btn-outline:hover {
        background: #ec0000;
        color: #fff;
    }
    
    .btn.btn-outline.btn-disabled {
        border: 1px solid #c2c2c2;
        color: #c2c2c2;
        background: #fff;
    }
    
    .btn.btn-small {
        padding: 6px 65px;
    }
    
    .btn.btn-uppercase {
        text-transform: uppercase;
    }

}
