<app-condense #condenseMenu [ngClass]="condenseMenu.menuState">
  <a class="simple-menu-item" (click)="toggleSideMenu()" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
    <i class="menu-item-icon icon-Home"></i>
    <span class="menu-item-title">Dashboard</span>
  </a>

  <!-- Forms section  -->
  <mat-expansion-panel *ngIf="userData.Profile ==='Solicitante'" class="expandable-menu-item"
    #formsExpandableSection="routerLinkActive" [expanded]="false" [routerLinkActive]="['active']">
    <mat-expansion-panel-header>
      <i class="menu-item-icon glyphicon glyphicon-list-alt"></i>
      <div class="item-header-content">
        <mat-panel-title class="expandable-item-title">
          <span>SOLICITUDES</span>
        </mat-panel-title>
        <!-- <mat-panel-description *ngIf="userData.Profile==='Aprobador'" class="expandable-item-description">Aprobar
          Solicitudes</mat-panel-description> -->
        <mat-panel-description *ngIf="userData.Profile ==='Solicitante'" class="expandable-item-description">Generar
          Solicitudes</mat-panel-description>

      </div>
    </mat-expansion-panel-header>
    <a *ngIf="userData.Profile ==='Solicitante'" class="expandable-sub-item" (click)="toggleSideMenu()" [routerLinkActive]="['active']"
      [routerLink]="['/tables/formSolicitud']">
      <span class="icon-abbr">CV</span>
      <span class="menu-item-title">GENERAR SOLICITUD</span>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="userData.Profile === 'Administrador'"
    class="expandable-menu-item" #tablesExpandableSection="routerLinkActive" [expanded]="false"
    [routerLinkActive]="['active']">
    <mat-expansion-panel-header>
      <i class="menu-item-icon glyphicon glyphicon-list-alt"></i>
      <div class="item-header-content">
        <mat-panel-title class="expandable-item-title">ADMINISTRACIÓN</mat-panel-title>
      </div>
    </mat-expansion-panel-header>
    <a class="expandable-sub-item" (click)="toggleSideMenu()"  [routerLinkActive]="['active']" [routerLink]="['/tables/adminapp']">
      <span class="icon-abbr">AGREGAR APP</span>
      <span class="menu-item-title"><i class="icon-Agregar-Documento"></i> AGREGAR APP</span>
    </a>
    <a class="expandable-sub-item" (click)="toggleSideMenu()"  [routerLinkActive]="['active']" [routerLink]="['/tables/listapp']">
      <span class="icon-abbr">LISTA APPS</span>
      <span class="menu-item-title">LISTA DE APPS</span>
    </a>
    <a class="expandable-sub-item" (click)="toggleSideMenu()"  [routerLinkActive]="['active']" [routerLink]="['/tables/adminuser']">
      <span class="icon-abbr">AGREGAR USUARIO</span>
      <span class="menu-item-title"><i class="icon-icon"></i> AGREGAR USUARIO</span>
    </a>
    <a class="expandable-sub-item" (click)="toggleSideMenu()"  [routerLinkActive]="['active']" [routerLink]="['/tables/listuser']">
      <span class="icon-abbr">LISTAR USUARIOS</span>
      <span class="menu-item-title">LISTAR USUARIOS</span>
    </a>
    <a *ngIf="userData.Profile === 'Solicitante'" class="expandable-sub-item" (click)="toggleSideMenu()"  [routerLinkActive]="['active']"
      [routerLink]="['/tables/formSolicitud']">
      <span class="icon-abbr">AGREGAR SOLICITUD</span>
      <span class="menu-item-title"><i class="icon-Agregar-Documento"></i> AGREGAR SOLICITUD</span>
    </a>
  </mat-expansion-panel>

  <a class="simple-menu-item" (click)="toggleSideMenu()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/tables/listhistorico']">
    <i class="menu-item-icon icon-Analisis-de-datos"></i>
    <span class="menu-item-title">HISTORICO</span>
  </a>

  <a class="simple-menu-item" *ngIf="userData.Profile === 'Administrador'" (click)="toggleSideMenu()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
  [routerLink]="['/tables/UpdateVersion']">
  <i class="menu-item-icon icon-FUNC062"></i>
  <span class="menu-item-title">Actualiza Versión</span>
</a>

  <!-- <a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="['/forms/extended-controls']">
    <i class="menu-item-icon fa fa-user"></i>
    <span class="menu-item-title">Mi Profile</span>
  </a> -->

  <a class="simple-menu-item" (click)="logout()">
    <i class="menu-item-icon icon-Cerrar-sesion"></i>
    <span class="menu-item-title">Salir</span>
  </a>

</app-condense>
<div class="condense-toggle-wrapper" [ngClass]="{'condensed': condenseMenu.menuState == 'condensed'}">
  <span (click)="condenseMenu.toggleState()" class="condense-toogle"></span>
</div>

<app-alerta [display]="verAlertaEvaluacion" [tipoAlerta]="'conf'" [titulo]="tituloAlerta" [numbtn]="'2'"
  [detalle]="detalleAlerta" [nombreAccion1]="'Aceptar'" (clickAccion1)="out()" [nombreAccion2]="'Cancelar'"
  (clickAccion2)="ocultarAlerta()">
</app-alerta>