#adminapp{

  table {
    width: 100%;
  }
  
  
  .mat-form-field {
    margin-left: 10px;
  }
  
  
  .example-chip-list {
    width: 80%;
  }
  
  
  .actions {
    padding: 20px 0;
    margin-bottom: -10%;
  }
  
  .actions.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .conatiner{
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .actions.flex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: -25px;
    }
    .actions.flex>a:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .actions.flex>a:last-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }
  
  }
  
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }
  
  .btn.btn-primary {
    background-color: #9E3667;
    color: #fff;
    border: 0px;
  }
  
  .btn.btn-primary:hover {
    background-color: #9E3667;
    text-decoration: none;
    border: 1
  }
  
  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }
  
  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }
  
  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .btn-icon i {
        font-size: 18px;
    }
    .btn.btn-primary {
      margin-top: 4px;
    }
    .btn.btn-secundary {
      margin-top: 4px;
    }
  }
  
  .btn-icon:hover {
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 996px){
  .col-md-4 {
      padding: 10px;
      width: 30.333333%;
      text-align: center;
  }
  .col-sm-4{
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
  .card{
    min-height: 750px;
  }
  }
  
  @media screen and (max-width: 425px){
   

    .mat-form-field {
      margin-left: none;
    }
 

  mat-form-field, mat-chip-list, mat-chip-list-wrapper {
    display: -webkit-inline-box;
}

mat-form-field, mat-chip-list, mat-chip-list-wrapper, mat-chip {
  letter-spacing: 0px;
}





    }   
  @media screen and (max-width: 325px){


mat-form-field, mat-chip-list, mat-chip-list-wrapper, mat-chip {
  letter-spacing: 0.8px;
 
}
  }
  
    @media screen and (max-width: 1024px){
      .card {
        min-height: 805px;
      }
      
      }
      .leyenda {
        font-size: 10px;
    }
    .col-xs-4 {
      margin: 0px auto;
  }

  .text-danger {
    color: #ff0000
}


}
