@import '../../styles/_variables';
@import '../../styles/_mixins.scss';

html,
body {
    height: 100%;
}

.actions {
    text-align: center;
    padding: 24px 0px 0px 0px;
    margin-bottom: -8%;
}

.login-page {
    height: 100%;
    overflow: hidden !important;
    @include linear-gradient(#6F6386, #9E3667);

    .logo_santander {
        width: 240px;
        margin-top: 100px;
    }

    .validation-errors>.help-block {
        color: #FFFFFF;
    }

    .form-group .form-label.form-label-big,
    .help-block .ng-star-inserted,
    .form-control,
    .has-error .help-block {
        color: #FFFFFF;
        font-family: 'Open Sans Light Italic';
    }

    .boton {
        @include button(#9E3667, $white, $white);
        min-height: 30px;
        width: 100%;
        font-family: 
       'Open Sans', sans-serif;
            ;
        border: 1px solid;
        border-radius: 100px;
        font-size: 16px;
        text-align: center;
        line-height: 24px;

        &.done {
            @include button($white, $aqua, $aqua);
        }
    }

    .btn-upload {
        @include button($white, $purple, $purple);
        min-height: 40px;
        width: 220px;

        &.done {
            @include button($white, $aqua, $aqua);
        }
    }

    form {
        margin-bottom: 0px;
    }

    input#rut::placeholder {
        font-size: smaller;
        font-style: italic;
        color: #FBEFEF;
    }
}


.btn {
    font-size: 16px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }
  
  .btn.btn-primary {
    background-color: #fff;
    color: #EC0000;
    border: 0px;
  }
  
  .btn.btn-primary:hover {
    background-color: #fff;
    text-decoration: none;
    border: 1
  }
  
  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }
  
  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }
  
  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .btn-icon i {
        font-size: 18px;
    }
    .btn.btn-primary {
      margin-top: 4px;
    }
    .btn.btn-secundary {
      margin-top: 4px;
    }
  }
  
  .btn-icon:hover {
    text-decoration: none;
  }