@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.alert-modal {
  min-width: 300px;

  .alert-modal-title {
    color: $grey8;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: $letter-spacing-lg;
    text-align: center;
  }

  .alert-modal-text {
    color: $grey8;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: $letter-spacing-lg;
    text-align: center;
  }

  .alert-modal-icon {
    display: block;
    font-size: 100px;
    text-align: center;

    &.alert-modal-icon-success {
      color: $aqua;
    }

    &.alert-modal-icon-failure {
      color: $red;
    }
  }

  .alert-modal-buttons {
    text-align: center;
    display: flex;
    justify-content: center;

    .alert-modal-button {
      @include button($white, $purple, $purple);
      margin-bottom: 10px;
      margin-top: 40px;
      min-width: 60px;
      font-weight: 400;
      width: 60%;

      &.alert-modal-button-success {
        @include button($white, $aqua, $aqua);
        margin-right: 10px;
      }

      &.alert-modal-button-failure {
        @include button($white, $red, $red);
      }
    }
  }
}