@import '../../../../styles/_variables';
@import '../../../../styles/_tables';
@import '../../../../styles/_nouislider-override';

#listApp {

  .actions {
    padding: 20px 0;
  }
  
  .actions.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .actions.flex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .actions.flex>a:first-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .actions.flex>a:last-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }
  }
  
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }
  
  .btn.btn-primary {
    background-color: #9E3667;
    color: #fff;
    border: 0px;
  }
  
  .btn.btn-primary:hover {
    background-color: #9E3667;
    text-decoration: none;
    border: 1
  }
  
  .btn.btn-ico>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn-icon i {
    font-size: 24px;
    line-height: 100%;
  }
  
  .btn.btn-clear {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    min-width: inherit;
    color: #444;
  }
  
  .btn.btn-clear:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .btn-icon i {
        font-size: 18px;
    }
    .btn.btn-primary {
      margin-top: 4px;
    }
    .btn.btn-secundary {
      margin-top: 4px;
    }
  }
  
  .btn-icon:hover {
    text-decoration: none;
  }
  


  @media only screen and (max-width: 768px) {

    /* Force table to not be like tables anymore */
    .table-wrapper .table.table-stripes tbody tr:nth-child(odd), .table-wrapper ng2-smart-table table tbody tr:nth-child(odd), ng2-smart-table .table-wrapper table tbody tr:nth-child(odd) {
      background-color: #FFF;
      font-size: 12px;
  }
  
  .table-responsive {
    border: none;
  }
  
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  .table-lines {
    .table-row {
      &:first-child {
        .table-cell {
          border-top: 0;
        }
      }
  
      .table-cell {
        padding: 15px;
        display: flex;
        justify-content: space-between;
  
        .order-title {}
  
        .order-value {
          color: 	#800080;
          font-weight: bold;
        }
      }
    }
  }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    th::after { 
      color: #9012FE !important;
      border: 1px solid black;
    }
  
    td::before { 
      display: flex;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "NOMBRE";color: #800080; font-size: 10px ; font-family: 'Roboto', sans-serif;}
    td:nth-of-type(2):before { content: "CANAL"; color: #800080; font-size: 10px ;  font-family: 'Roboto', sans-serif;}
    td:nth-of-type(3):before { content: "CÓDIGO"; color: #800080; font-size: 10px ;  font-family: 'Roboto', sans-serif;}
    td:nth-of-type(4):before { content: "SISTEMA OPERATIVO"; color: #800080; font-size: 10px;  font-family: 'Roboto', sans-serif; }
  
  }
}


#smart-tables {

  .table-1-filters {
    .date-input {
      display: inline;
      width: 60%;
    }
    .reset-date {
      background-color: transparent;
      border: 0;
      display: inline-block;
      font-size: $font-size-lg;
      vertical-align: sub;
    }
  }

  nouislider {
    padding: 16px 0;
  }


  .mat-cell {
    vertical-align: middle;

    &[cell-name = 'status'] {
      &[cell-value = 'Completed'] {
        color: $green;
      }
      &[cell-value = 'In Progress'] {
        color: $yellow;
      }
      &[cell-value = 'Cancelled'] {
        color: $red;
      }
    }
  }

  .paginator {
    //material paginator
    .mat-paginator-page-size {
      align-items: center;
    }

    .mat-paginator-page-size-label {
      color: $purple;
      font-size: 14px;
      margin-left: 0px;
      margin-right: 10px;
    }

    .mat-paginator-page-size-select {
      margin: 0px;

      .mat-form-field-wrapper {
        padding: 0px;
        text-align: center;

        .mat-form-field-underline {
          display: none;
        }
      }
    }

    .mat-paginator-range-actions {
      color: $purple;
      font-size: 14px;
    }
  }

  .filter-wrapper {
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    .mat-form-field-underline {
      display: inherit;
    }
  }

  .btn-clear {
    margin-left: 15px;
  }

  .row-input {
    margin: 15px 0;
  }

  .btn {
    background-color: $purple;
    color: $white;
    font-size: $font-size-xs;
    font-weight: bold;
    letter-spacing: $letter-spacing-xxs;
    padding: 7px 30px;
  }

  .interests-wrapper {

    .mat-form-field-underline {
      display: none;
    }
    .interests-list {
      .mat-chip-remove {
        align-self: flex-start;
        margin-top: 1px;
      }
    }
  }

}
